@media (min-width: 1200px) {
    .container-fluid {
        width: 90%;
    }
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    /* do not respond to user interactions like clicks or hover */
    pointer-events: none;
}

.trending-bar-dark .dropdown-menu .dropdown-item {
    color: #dc3545;
}
.trending-bar-dark .dropdown-menu .dropdown-item:hover {
    background: #dc3545;
    color: #fff;
}

.breadcrumb li, .breadcrumb li a {
    font-size: 12px;
}

.contact-map {
    height: 600px;
    width: 100%;
}

.text-muted {
    color: #8c8a8a !important;
    font-size: 12px !important;
}

.radio-danger .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #fe5461;
    background-color: #fe5461;
}

.checkbox-danger .custom-control-input:checked ~ .custom-control-label::before {
    color: #ffffff;
    background-color: #fe5461;
    border-color: #fe5461;
}

.validation-invalid-label,
.validation-valid-label {
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: block;
    color: #ef5350;
    position: relative;
    padding-left: 1.625rem;
    font-size: .875rem;
}

.validation-valid-label {
    color: #25b372
}

.validation-invalid-label:before,
.validation-valid-label:before {
    font-family: "bootstrap-icons";
    font-size: 1rem;
    position: absolute;
    top: .1875rem;
    left: 0;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.validation-invalid-label:empty,
.validation-valid-label:empty {
    display: none
}

.validation-invalid-label:before {
    content: "\F623"
}

.validation-valid-label:before {
    content: "\F26E"
}
